.field{
    margin : 10px;   
    padding-right: 15px; 
}
.pass{
    margin: 0px 20px;
    padding-right: 38px;
}
.buttons {
    height: 50px;
}
.buttonContainer{
    display: flex;
    padding: 10px;
    height: 50px;
    justify-content: space-around;
    align-items: center
}