.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  border-bottom: 0.1px solid lightgray;
  width: 100%;
  z-index: 100;
  margin-bottom: 20px;
  /* height: 75px; */
}

.apertureLogo {
  height: 40px;
}
