.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  border-bottom: 0.1px solid lightgray;
  width: 100%;
  z-index: 500;
  padding: 5px;
}

.header__left {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  /* margin-right: 10px; */
}

.header__center {
  margin-top:auto;
  margin-bottom:auto;
}

.header__right {
  display: flex;
  flex-direction: column;
}

.header__left > button {
  flex-direction: row;
}