.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 40px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 3px 3px 5px 6px rgb(233, 233, 233);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px rgb(233, 233, 233);  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px rgb(233, 233, 233);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.post_header {
  display: flex;
  margin-bottom: 10px;
}
.post_body {
  overflow: hidden;
}
.post_title {
  display: flex;
  /* margin-bottom: 10px; */
  justify-content: space-between;
}

.postInfo {
  margin-left: 10px;
}

.postInfo > p {
  font-size: 12px;
  color: gray;
}

.postInfo > h2 {
  font-size: 15px;
}

.post_buttons {
  display: flex;
}

.post__image {
  max-width: 100%;
  /*max-height: 50vh; */
  width: auto;
  height: auto;
  /* overflow: auto; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 30px;
  min-width: 40vw
}

.post__imageWrapper {
  max-width: 70%;
  /*max-height: 50vh; */
  width: auto;
  height: auto;
  /* overflow: auto; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 30px;
  min-width: 40vw
}

@media (max-width: 947px) {
  .post {
    width: 100%;
  }
  .post > img {
    padding: 0;
    margin: 0;
  }
  .post__imageWrapper {
    max-width: 100%;
    min-width: 100%;
    /*max-height: 50vh; */
    width: auto;
    height: auto;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 0;
    margin: 0;
    border-radius: 20px;
  }
}
