.challenge {
    background-color: white;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 40px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 3px 3px 5px 6px rgb(233, 233, 233);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px rgb(233, 233, 233);  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px rgb(233, 233, 233);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
  
  .challenge_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .challenge_body {
    overflow: hidden;
  }
  .challenge_title {
    display: flex;
    /* margin-bottom: 10px; */
    justify-content: space-between;
  }
  