.feed {
  flex: auto;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.feed_inputContainer {
  background-color: white;
  /* border-radius: 10px; */
  padding: 10px;
  /* margin-top: 10px; */
  margin-bottom: auto;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.feed_input {
  border: 1px solid lightgrey;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: whitesmoke;
}

.feed_input > form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* .feed_input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
  font-size: 15px;
  width:50vw; 
} */

.buttons {
  display: flex;
}

.previewImage{
  max-width: 80vw;
  max-height: 50vh;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 40px;
}

.camera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .buttons {
    display: flex;
    width: 100%;
    margin-top: 10px;
    transform: scale(0.9, 0.9);
    justify-content: center;
  }
  
@media (max-width: 1075px) {
  .feed_input > form > input {
    border: none;
    width: 40vw;
  }
}

@media (max-width: 947px) {
  .feed {
    max-width: 90vw;
  }
  .feed_input > form {
    flex-direction: column;
  }
  .feed_input > form > input {
    border: none;
    width: 50vw;
  }
}

@media (max-width: 395px) {
  .buttons {
    transform: scale(0.7, 0.7);
    margin: 0;
  }
}

@media (max-width: 340px) {
  button {
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 15px;
  }
  .feed_input > form > input {
    border: none;
    width: 30vw;
  }
  
}

.row {
  justify-content: space-between;
  display: flex;
}
.carousel-control-next,
.carousel-control-prev ,
.carousel-indicators{
    filter: invert(100%);
}


html,body {
  background-color: whitesmoke;
}
