body {
    --background-color-header: #00142C;
    --background-color-sidebar: #FFEADD;
}

.app {
    text-align: center;
    color: #00142C;
}

.app_body {
    display: flex;
    height: 99vh;
    text-align: left;
    color: #00142C;
}

.app_body > h1 {
    padding: 20px;
}