.sidebarOption {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding-left: 12px;
    cursor: pointer;
}

.sidebarOption:hover {
    opacity: 0.9;
    background-color: #4c24a3;
}

.sidebarOption_icon {
    padding: 10px;
    font-size: 15px !important;
}

.sidebarOption_groupChat {
    padding: 10px 0;
}

.sidebarOption_hash {
    padding: 10px;
}