.sign-up {
    margin: 2% 10%;
    width: 80%;
}

.sign-up input {
    width: 100%;   
    justify-self: center;
}

#profile-pic {
    width: 14%;
    height: 14%;
    margin: 0% 43%;
    border-radius: 50%;
}

@media all and (max-width: 500px) {
    .sign-up {
        margin: 10% 0;
        width: 100%;
    }

    #profile-pic {
        width: 40%;
        margin: 0% 30%;
        border-radius: 50%;
    }
}