rules_version = '2';

service cloud.firestore {
    
  match /databases/{database}/documents {

// Allow read/write access on all documents to any user signed in to the application

    match /{document=**} {

      allow read: if request.auth != null;
      , write: if request.auth != null;

    }
  }
}
