div {
    /* border: 1px solid #793AFF; */
    justify-content: space-evenly;
    padding: 1%;
}

.photoEditor {
    height: 80vh;
    width: 100%;
}

.view-image {
    background-image: url(https://cdn.pixabay.com/photo/2018/04/17/15/35/lion-3327806_1280.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70%;
    margin: 0;
    padding: 0;
}